{# Add default Open Graph tags #}
<meta
  property="og:title"
  content="BrickBot-Docs"
/>
<meta
  property="og:description"
  content="Ghidul aproape complet pentru toți cei care își doresc să facă parte din echipa de robotică BrickBot #15996."
/>
<meta
  property="og:image"
  content="https://brickbot15996.github.io/brickbot-docs/logos/brickdocs_light.png"
/>
<meta
  property="og:url"
  content="{{ page.canonical_url | default(nav.homepage.url) }}"
/>
<meta
  property="og:type"
  content="website"
/>

{# Twitter card tags #}
<meta
  name="twitter:card"
  content="summary_large_image"
/>
<meta
  name="twitter:title"
  content="BrickBot-Docs"
/>
<meta
  name="twitter:description"
  content="Ghidul aproape complet pentru toți cei care își doresc să facă parte din echipa de robotică BrickBot #15996."
/>
<meta
  name="twitter:image"
  content="https://brickbot15996.github.io/brickbot-docs/logos/brickdocs_light.png"
/>
