/* LIGHT MODE */
[data-md-color-scheme="light"] .md-typeset table {
  border-spacing: 0;
  width: 100%;
  background-color: #fff;
  color: #333;
  border-radius: 12px;
  overflow: hidden;
}

/* DARK MODE */
[data-md-color-scheme="dark"] .md-typeset table {
  border-spacing: 0;
  width: 100%;
  background-color: #383838; 
  color: #ccc;
  border-radius: 12px;
  overflow: hidden;
}

[data-md-color-scheme="dark"] .md-typeset th {
  font-weight: 600;
  background-color: #333;
}


